h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn {
  padding-top: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text_center {
  text-align: center;
}

.slideshow {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow__item {
  background: coral;
}

.about_simfur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 200px;
}

.about_simfur_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  position: relative;
}

.about_simfur_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_simfur_right_content {
  width: 70%;
}

.about_simfur_right_content p {
  padding-top: 50px;
  text-align: justify;
  line-height: 28px;
}

.about_simfur .picture {
  position: absolute;
  top: 0;
  z-index: 1;
}

.about_simfur .img_shadow {
  background-color: #ebebeb;
  height: 860px;
  width: 680px;
  z-index: -1;
  position: absolute;
  top: 100px;
  right: 100px;
}

.what__we__do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__we__do .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what__we__do .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.what__we__do .wrap {
  width: 70%;
}

.whatwedo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whatwedo__icon .icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.whatwedo__icon .icon_size {
  width: 100px;
}

.projects {
  background: cornsilk;
  height: 300px;
}

.philosophy h3 {
  text-align: center;
}

.philosophy .box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.box .icon_size {
  width: 80px;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/cotact_bg.jpg);
  color: white;
}

.contact .contact_wrap {
  width: 70%;
}

.contact .contact_wrap h3 {
  padding-bottom: 10px;
}

.contact .contact_wrap p {
  padding-bottom: 35px;
}

.container {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 321px) and (max-width: 767px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .enquiry {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.container .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}
/*# sourceMappingURL=main.css.map */