h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

h4 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn {
  padding-top: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text_center {
  text-align: center;
}

.header {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  color: white;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

.header .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contain_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 321px) and (max-width: 767px) {
  .contain_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contain_inner .content_left_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  position: relative;
}

.contain_inner .content_right_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.contain_inner .content_left_txt, .contain_inner .content_right_txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 321px) and (max-width: 767px) {
  .contain_inner .content_left_txt, .contain_inner .content_right_txt {
    padding-top: 50px;
  }
}

.contain_inner .txt_wrap {
  width: 70%;
}

.contain_inner .txt_wrap p {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contain_inner .pic_shadow_left {
  background-color: #ebebeb;
  height: 860px;
  width: 680px;
  z-index: -1;
  position: absolute;
  top: 100px;
  right: 100px;
}

@media (min-width: 321px) and (max-width: 767px) {
  .contain_inner .pic_shadow_left {
    display: none;
  }
}

.contain_inner .pic_shadow_right {
  background-color: #ebebeb;
  height: 860px;
  width: 680px;
  z-index: -1;
  position: absolute;
  top: 100px;
  left: 100px;
}

@media (min-width: 321px) and (max-width: 767px) {
  .contain_inner .pic_shadow_right {
    display: none;
  }
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 321px) and (max-width: 767px) {
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.slider-wraper {
  width: 100vw;
  height: 100vh;
}

.slider--item {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-slide {
  position: relative;
  outline: none;
  z-index: 1;
}

.slick-slide.slick-current {
  z-index: 2;
}

.slick-arrow {
  position: absolute;
  width: 150px;
  top: 0;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  text-indent: -9999px;
  z-index: 999;
  cursor: pointer;
}

.slick-arrow:before {
  content: "";
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  top: 50%;
  margin-top: -21px;
  -webkit-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
}

.slick-arrow:after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 160px;
  top: 50%;
  background-color: white;
  -webkit-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  opacity: 0;
}

.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-prev:before {
  border-top: 2px solid white;
  border-left: 2px solid white;
  left: 50px;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slick-arrow.slick-prev:after {
  left: 300px;
}

.slick-arrow.slick-prev:hover:before {
  left: 120px;
}

.slick-arrow.slick-prev:hover:after {
  left: 113px;
  opacity: 1;
  width: 80px;
}

.slick-arrow.slick-next {
  right: 0;
}

.slick-arrow.slick-next:before {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  right: 50px;
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slick-arrow.slick-next:after {
  right: 300px;
}

.slick-arrow.slick-next:hover:before {
  right: 120px;
}

.slick-arrow.slick-next:hover:after {
  right: 113px;
  opacity: 1;
  width: 80px;
}

.slick-dots {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}

.slick-dots li.slick-active button {
  background-color: white;
  height: 14px;
  width: 14px;
}

.slick-dots li.slick-active button:hover {
  background-color: white;
}

.slick-dots li button {
  outline: none;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  text-indent: -9999px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all, 0.2s, ease-in 1s ease-in-out;
  transition: all, 0.2s, ease-in 1s ease-in-out;
}

.slick-dots li button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.project_info_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project_info_wrap .inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.slideshow {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 321px) and (max-width: 767px) {
  .slideshow {
    height: 70vh;
  }
}

.about_simfur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 200px;
}

.about_simfur_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  position: relative;
}

.about_simfur .img_shadow {
  background-color: #ebebeb;
  height: 860px;
  width: 680px;
  z-index: -1;
  position: absolute;
  top: 100px;
  right: 100px;
}

.about_simfur_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_simfur_right_content {
  width: 70%;
}

.about_simfur_right_content p {
  padding-top: 50px;
  text-align: justify;
  line-height: 28px;
}

.what__we__do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__we__do .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what__we__do .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.what__we__do .wrap {
  width: 70%;
}

.whatwedo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.whatwedo__icon .icon {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.whatwedo__icon .icon_size {
  width: 100px;
}

.projects {
  background: cornsilk;
  height: 300px;
}

.philosophy {
  padding-top: 100px;
  padding-bottom: 100px;
}

.philosophy h3 {
  text-align: center;
}

.philosophy .box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.box .icon_size {
  width: 80px;
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/cotact_bg.jpg);
  color: white;
}

@media (min-width: 321px) and (max-width: 767px) {
  .contact {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact .contact_wrap {
  width: 70%;
}

.contact .contact_wrap h3 {
  padding-bottom: 10px;
}

.contact .contact_wrap p {
  padding-bottom: 35px;
}

.container {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 321px) and (max-width: 767px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .enquiry {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.container .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}
/*# sourceMappingURL=main.css.map */