.contain_inner{
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding-top:0px;
    padding-bottom:0px;

    @include media(">phone") {
        flex-direction:row;
        padding-top:150px;
        padding-bottom:150px;
        justify-content: start;
    }

    @include media(">phone", "<tablet") {
        flex-direction:column;
        padding-top:50px;
        padding-bottom:50px;
    }
    
    .content_left_img{
        flex: 1;
        text-align: right;
        position: relative;
    }

    .content_right_img{
        flex:1;
        position: relative;
    }

    .content_left_txt, .content_right_txt{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media(">phone", "<tablet") {
            padding-top:50px;
        }

    }

    .txt_wrap{
        width:90%;
        
        @include media(">phone") {
            width:60%;
        }
    
        @include media(">phone", "<tablet") {
            width:90%;
        }

        p{
            text-align: justify;
            padding-top:10px;
            padding-bottom:10px;
        }
    }

    .pic_shadow_left{

        @include media(">phone") {
            background-color: rgb(235, 235, 235);
            height: 860px;
            width: 680px;
            z-index: -1;
            position: absolute;
            top: 100px;
            right: 100px;
        }

        @include media(">phone", "<tablet") {
            display: none;
        }

    }

    .pic_shadow_right{
        background-color: rgb(235, 235, 235);
        height: 860px;
        width: 680px;
        z-index: -1;
        position: absolute;
        top: 100px;
        left: 100px;

        @include media(">phone", "<tablet") {
            display: none;
        }

    }

}

.reverse{
    flex-direction:row;

    @include media(">phone", "<tablet") {
        flex-direction: column-reverse;
    }

}