// General setting //

h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h4 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.btn {
    padding-top: 50px;
}

// index page //
.img-fluid {
    max-width: 100%;
    height: auto;
}

.text_center{
    text-align: center;
}