.project_info_wrap{
    padding-top: 150px;
    padding-bottom:150px;
    padding: 0 auto;
    margin: 0 auto;

    width:70%;
    background:cornsilk;


    li{


        span{
            font-weight: 400;
        }
    }

}



.projects_title{
    position: absolute;
    z-index:99;
    bottom:100px;
    right:100px;
    color:white;
}

.pre_next_project{
    background: rgba(255, 255, 0, 0.144);
    display: flex;
    padding-top:50px;
    padding-bottom:50px;

    .pre_btn, .next_btn{
        flex:1;
    }

}