@import 'mixins';
@import 'variables';

// General setting //

h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn {
    padding-top: 50px;
}

// index page //
.img-fluid {
    max-width: 100%;
    height: auto;
}

.slideshow {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__item{
        background: coral;
    }

  }

.about_simfur {
    display: flex;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 200px;

    &_left {
        flex: 1;
        text-align: right;
        position: relative;
        // background:rgb(210, 247, 248);
    }

    &_right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        // background:rgb(240, 247, 217);

        &_content {
            width: 70%;

            p{
                padding-top: 50px;
                text-align: justify;
                line-height: 28px;
            }
             
        }
    }

    .picture {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .img_shadow {
        background-color: rgb(235, 235, 235);
        height: 860px;
        width: 680px;
        z-index: -1;
        position: absolute;
        top: 100px;
        right: 100px;
    }
}


.whatwedo__icon{
    background: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon{
        flex-basis: 20%;
        margin: 10px;
        text-align: center;
        padding:10px;
    }

    .icon_size{
        width: 100px;
    }

}

.philosophy{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;

    .box{
        background: cornsilk;
        flex-basis: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .icon_size{
        width: 100px;
    }
}