@import "include-media";
@import "mixins";
@import "variables";
@import "base";
@import "about";
@import "slick";
@import "project";
@import "single";

//    @include media(">phone", "<tablet") {
//}

// .slider{

//     h2:after{
//         width:150px;
//         height:30px;
//         background: rgba(250, 240, 220,  0.5);
//         content:'';
//         margin-top:20px;
//         position: absolute;
//         z-index:-1;
//         right:0%;
//     }
// }

.whatwedo__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;
	flex-direction: column;

	@include media(">phone") {
		flex-direction: row;
	}

	@include media(">phone", "<tablet") {
		flex-direction: column;
	}

	.icon {
		flex-basis: 20%;
		margin: 10px;
		text-align: center;
		padding: 10px;
	}

	.icon_size {
		width: 100px;
	}
}

.philosophy {
	padding-top: 150px;
	padding-bottom: 150px;

	h3 {
		text-align: center;
		padding-bottom: 50px;
	}

	.box_wrap {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		@include media(">phone") {
			flex-direction: row;
		}

		@include media(">phone", "<tablet") {
			flex-direction: column;
		}
	}
}

.box {
	flex-basis: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	flex-direction: row;

	.icon_size {
		width: 80px;
	}
}

.service_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	ul {
		flex-basis: 25%;
	}

	li {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	li:first-child {
		font-weight: 400;
	}
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/cotact_bg.jpg);
	color: white;
	padding-top: 0px;
	height: auto;

	@include media(">phone") {
		height: auto;
		padding-top: 150px;
	}

	@include media(">phone", "<tablet") {
		height: auto;
		padding-top: 150px;
	}

	@include media(">=desktop") {
		height: 100vh;
		padding-top: 0px;
	}

	.contact_wrap {
		width: 100%;

		@include media(">phone") {
			width: 100%;
		}

		@include media(">phone", "<tablet") {
			width: 100%;
		}

		@include media(">=desktop") {
			width: 70%;
		}

		h3 {
			padding-bottom: 10px;
		}

		p {
			padding-bottom: 35px;
		}
	}
}

.container {
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;

	@include media(">phone") {
		flex-direction: row;
	}

	@include media(">phone", "<tablet") {
		flex-direction: column;
	}

	.enquiry {
		flex: 1;
		padding: 50px;
		background: rgba(0, 0, 0, 0.3);
	}

	.info {
		flex: 1;
		padding: 50px;
	}
}

.group_photo {
	text-align: center;
	width: 100%;
	padding-top: 50px;
}

.content_right_txt {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	@include media(">phone", "<tablet") {
		padding-top: 50px;
		text-align: center;
	}
}

.content_left_txt {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: right;

	@include media(">phone", "<tablet") {
		padding-top: 50px;
		text-align: center;
	}
}

.pic_shadow_left {
	background-color: rgb(235, 235, 235);
	height: 480px;
	width: 680px;
	z-index: -1;
	position: absolute;
	top: 100px;
	right: 100px;

	@include media(">phone", "<tablet") {
		display: none;
	}
}

.pic_shadow_right {
	background-color: rgb(235, 235, 235);
	height: 480px;
	width: 680px;
	z-index: -1;
	position: absolute;
	top: 100px;
	left: 100px;

	@include media(">phone", "<tablet") {
		display: none;
	}
}

.projects {
	background: cadetblue;
}

.card {
	// background-color: dodgerblue;
	//color: white;
	// padding: 1rem;

	img {
		filter: grayscale(100%);
		transition: 0.3s ease-in-out;
	}
	img:hover {
		filter: grayscale(0%);
	}
}

.cards {
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	padding-bottom: 100px;

	h5 {
		padding-top: 10px;
	}

	.location {
		padding-bottom: 10px;
	}
}

.caption {
	text-align: center;
	padding-bottom: 30px;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

.arrow {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	&:before {
		content: "";
		display: block;
		width: 50px;
		height: 1px;
		background-color: #8b8b8b;
		top: 50%;
		transition: width 0.5s ease-out;
	}
	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-top: 1px solid #8b8b8b;
		border-right: 1px solid #8b8b8b;
		transform: rotate(45deg);
		top: calc(50% - 5px);
		position: absolute;
		right: 1px;
	}
	&:hover {
		cursor: pointer;
		&:before {
			width: 80px;
		}
	}
}

.arrow_d {
	position: fixed;
	z-index: 100;
	width: 35px;
	bottom: 30px;
	left: 30px;
	animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
	background: rgba(0, 0, 0, 0.5);
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;

	@keyframes bounce {
		50% {
			transform: translateY(-15px);
		}
	}

	.arrow_svg {
		fill: none;
		stroke: #ffffff;
		stroke-width: 20;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: 30;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		transition: all 0.3s ease-in-out;

		&.up {
			transform: rotate(0deg);
			transition: all 0.3s ease-in-out;
		}
	}
}
