@import 'mixins';
@import 'variables';
@import 'base';
@import 'include-media';
@import 'about';
@import 'slick';
@import 'single';
//    @include media(">phone", "<tablet") {
//}


.slideshow {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__item{
        background: coral;
    }

  }

.about_simfur {
    display: flex;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 200px;

    &_left {
        flex: 1;
        text-align: right;
        position: relative;
        // background:rgb(210, 247, 248);
    }

    .img_shadow {
        background-color: rgb(235, 235, 235);
        height: 860px;
        width: 680px;
        z-index: -1;
        position: absolute;
        top: 100px;
        right: 100px;
    }

    &_right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        // background:rgb(240, 247, 217);

        &_content {
            width: 70%;

            p{
                padding-top: 50px;
                text-align: justify;
                line-height: 28px;
            }
             
        }
    }


}

.what__we__do{
    display: flex;

    .left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right{
        flex: 1;
    }

    .wrap{
        width: 70%;
    }
}


.whatwedo__icon{
    display: flex;
    align-items: center;
    justify-content: center;

    .icon{
        flex-basis: 20%;
        margin: 10px;
        text-align: center;
        padding:10px;
    }

    .icon_size{
        width: 100px;
    }

}


.projects{
    background:cornsilk;
    height: 300px;
}

.philosophy{
    padding-top:100px;
    
    h3{
        text-align:center;
    }

    .box_wrap{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
    }
}

.box{
    flex-basis: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .icon_size{
        width: 80px;
    }
}

.contact{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cotact_bg.jpg);
    color: white;

    .contact_wrap{
        width:70%;
        
        h3{
            padding-bottom: 10px;
        }

        p{
            padding-bottom: 35px;
        }
    }
}


.container{
    width:100%;
    background:rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction:row;

    @include media(">phone", "<tablet") {
        flex-direction:column;
    }

    .enquiry{
        flex: 1;
        padding:50px;
        background:rgba(0, 0, 0, 0.3);
    }

    .info{
        flex: 1;
        padding:50px;
    }
}




